/web/bundles/
/web/bin/
/web/build/
/web/cache/
/web/cli/
/web/components/
/web/images/
/web/includes/
/web/language/
/web/layouts/
/web/libraries/
/web/logs/
/web/media/
/web/modules/
/web/plugins/
/web/templates/
/web/tests/
/web/tmp/
/web/bundles/
/web/administrator/cache/
/web/administrator/components/
/web/administrator/help/
/web/administrator/includes/
/web/administrator/language/
/web/administrator/manifests/
/web/administrator/modules/
/web/administrator/templates/
/web/bin
/web/build
/web/cache
/web/cli
/web/components
/web/images
/web/includes
/web/language
/web/layouts
/web/libraries
/web/logs
/web/media
/web/modules
/web/plugins
/web/templates
/web/tests
/web/tmp
/web/bundles
/web/administrator/cache
/web/administrator/components
/web/administrator/help
/web/administrator/includes
/web/administrator/language
/web/administrator/manifests
/web/administrator/modules
/web/administrator/templates
/app/config/parameters.yml
/patternlab/vendor
/patternlab/public
/patternlab/config
/patternlab/source
/app/Resources/patternlab/.bundle
/app/Resources/patternlab/.sass-cache
/app/Resources/patternlab/vendor
/app/Resources/patternlab/stylesheets
!app/Resources/patternlab/stylesheets/.gitkeep
/app/Resources/views/joomla/templates/app/fonts
/app/Resources/views/joomla/templates/app/images
/app/Resources/views/joomla/templates/app/javascripts
/app/Resources/views/joomla/templates/app/stylesheets
!app/Resources/views/joomla/templates/app/stylesheets/.gitkeep
/var/*
!empty
!.gitkeep
/phpunit.xml
/build/
/node_modules/
/.bowerrc
/bower.json
/package.json
/vendor/
/bin/
!bin/console
!bin/symfony_requirements
/composer.phar
/.idea
/*.iml